=bootstrap_form_for([@god,@service], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", url:god_services_path(@god)) do |f|
    =f.text_field :service, hide_label: false
    =f.submit 