!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hi,
      =@tenant_name.capitalize
      a maintenance request has been submitted. To following along with the progress click the button below.
      %button
        =link_to "#{@maintenance_request.maintenance_heading}", tenant_maintenance_request_url(@maintenance_request, user_id:@user.id)


     
