!!! 5
%html(lang="en-US")
  %body
    %p 
      Hi,a maintenance request has been made. Please click the link below to view it
      

    -if @maintenance_request.agent == nil
      =link_to "#{@maintenance_request.maintenance_heading}", agency_admin_maintenance_request_url(@maintenance_request,user_id:@user.id)
    -elsif @maintenance_request.agency_admin == nil
      =link_to "#{@maintenance_request.maintenance_heading}", agent_maintenance_request_url(@maintenance_request,user_id:@user.id)
     


