!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hi, a quote has been submitted by a trady for the maintenance request
      =@maintenance_request.maintenance_heading
    %Button
      =link_to "See Quote", show_quote_url(quote_id:@quote.id, maintenance_request_id:@maintenance_request.id)
    / %p
    /   -@quote.quote_items.each do |f|
    /     =f.item_description
    /     =f.amount
    / %p
    /   Total:
    /   =@quote.amount
