%div.container.invoice-form.success
  %h5
    Your Quote has been sent
  %div.mark
    %i.fa.fa-check
  %p
    Congratulations!
  %p
    Your quote has been successfully created and sent to the Agent.
  %div.row
    %p
      To Head Home click the button below.
    %button.button-primary.green
      =link_to "Home", maintenance_requests_path