%div.container.well
  %div.send-quote
    -@quote.quote_items.each do |f|
      %div.row
        %p
          =f.item_description
          
        -if f.pricing_type == "Hourly"
          %p
            ="("
          %p
            =f.hours
          %p
            hours
          %p
            X
          
          %p
            $
            =f.amount.to_f 
          %p
            ="/hour) :"
          %p
            $ 
          %span
            
            =f.amount * f.hours
          
        -elsif f.pricing_type == "Fixed Cost"
          %p
            =":"
          %p
            $
          %span
            
            =f.amount.to_f 
    %hr
    %div.row
      -if @quote.tax == true
        %p
          =@quote.amount/1.10
      -elsif @quote.tax == false
        %p
          GST: $ 0.00
      %br    
      %p
        Total :
      %span
        $#{@quote.amount}
        
    
    %button{:type=>"button", :class=>"button button-primary"} 
      =link_to "Edit Quote", edit_quote_path(@quote, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id)
    %button{:type=>"button", :class=>"button button-primary green"} 
      =link_to "Send Quote", quote_email_path(maintenance_request_id:@maintenance_request.id,quote_id:@quote.id)
