%div.container
  %div.well
    -@quote.quote_items.each do |f|
      %p
        =f.item_description
        =f.amount 
    %p
      total:
      =@quote.amount
    
    =link_to "Send Quote", quote_email_path(maintenance_request_id:@maintenance_request.id,quote_id:@quote.id), :class=>"btn btn-primary btn-lg"
    =link_to "Edit Quote", edit_quote_path(@quote, maintenance_request_id:@maintenance_request.id, trady_id:@trady_id)
