%div.container.well
  
  =react_component('AddTradycompany', {:authenticity_token => form_authenticity_token, :company_name => @company.nil? ? @trady.company_name : @company.company_name, :trading_name => @company.nil? ? '' : @company.trading_name, :abn => @company.nil? ? '' : @company.abn, :gst_registration => @company.nil? ? '' : @company.gst_registration, :address => @company.nil? ? '' : @company.address, :mailing_address_same => @company.nil? ? '' : @company.mailing_address_same, :mailing_address => @company.nil? ? '' : @company.mailing_address, :mobile_number => @company.nil? ? @trady.mobile : @company.mobile_number, :email => @company.nil? ? @trady.email : @company.email, :maintenance_request_id => @maintenance_request_id, :trady_id => @trady.id, :work_flow => "Get Quote", :system_plan=>@system_plan, :invoice_type => @invoice_type, :quote_type => @quote_type})

 