<div class="summary-container-index" id="summary-container-index">
  <div class="main-summary">
    <div class="section">
      <div class="post">
        <div class="info">
          <div class="info-title">
            <div class="title">
              <span>
              Plumber Needed in Sydney	
              </span>
              <button class="button-primary" type="">Active</button>
            </div>
            <div class="author">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span class="address">
              Australia, Sydney, 774 Botany RD.
              </span>
              <a class="time">
              2 Days ago
              </a>
              <a>|</a>
              <a class="name-author">Plumbing</a>
            </div>
          </div>
          <div class="actions">
            <button class="button-primary update-status">
            Update status
            </button>
            <button class="button-primary edit-detail">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span>
            Edit Details
            </span>
            </button>
            <button class="button-primary assign-to">
            <i class="icon-user" aria-hidden="true"></i>
            <span>
            Assign to
            </span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="content">
          <div class="slider-custom">
            <div class="swiper-container">
              <div class="swiper-wrapper slider">
                <img src="assets/slider1.jpg" class="swiper-slide slide-image img-1 active" />
                <img src="assets/slider1.jpg" class="swiper-slide slide-image img-2" />
                <img src="assets/slider1.jpg" class="swiper-slide slide-image img-3" />
                <img src="assets/slider1.jpg" class="swiper-slide slide-image img-4" />
              </div>
              <!-- Add Pagination -->
            </div>
            <div class="swiper-pagination swiper-pagination-custom"></div>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc ante, pharetra in luctus eget, sagittis et ante. Aliquam erat volutpat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc ante, pharetra in luctus eget, sagittis et ante. 
            <p>
          </div>
          <div class="date-time">
            <button>
            <span class="vailability">Availability: </span>
            <span class="time">Sep 4 (10am to 3pm)</span>
            </button>
          </div>
        </div>
      </div>
      <div class="quotes">
        <p>
          Quotes (3)
        </p>
        <div class="list-quote">
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="approved button-default">
                  <span>Approved</span>
                  </button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-default">500AUD</button>
            </div>
          </div>
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="declined button-default"><span>Declined</span></button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-default">500AUD</button>
            </div>
          </div>
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="pending button-default">Pending</button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-default">500AUD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="quotes m-t-xl">
        <p>
          Invoice (3)
        </p>
        <div class="list-quote">
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="approved button-default">Approved</button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-default">500AUD</button>
            </div>
          </div>
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="declined button-default">
                  <span>Declined</span>
                  </button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-default">500AUD</button>
            </div>
          </div>
          <div class="item-quote row">
            <div class="user seven columns">
              <img src="assets/user1.png">
              <div class="info">
                <div class="name">
                  <span>John Carlson</span>
                  <button class="pending button-primary">Pending</button>
                </div>
                <p class="description">
                  Dereck Plumbing Inc.
                </p>
              </div>
            </div>
            <div class="actions five columns">
              <button class="close button-default">
              <i class="icon-close" aria-hidden="true"></i>	
              </button>
              <button class="reload button-default">
              <i class="icon-reload" aria-hidden="true"></i>
              </button>
              <button class="money button-primary">500AUD</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="item">
        <div class="header contact">
          <a>Contact:</a>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="content">
        </div>
      </div>
      <div class="item">
        <div class="header action">
          <a >Actions:</a>
          <i class="fa fa-angle-down" aria-hidden="true" onclick="showAction('actions-content')"></i>
        </div>
        <div class="content" id="actions-content">
          <ul>
            <li>
              <a href="">
              <i class="icon-field"></i>
              Request more info
              </a>
            </li>
            <li>
              <a href="">
              <i class="icon-user" aria-hidden="true"></i>
              Seek owner instructions
              </a>
            </li>
            <li class="active">
              <a href="">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              Request quote
              </a>
            </li>
            <li>
              <a href="">
              <i class="icon-send" aria-hidden="true"></i>
              Send work order
              </a>
            </li>
            <li>
              <a href="">
              <i class="icon-setup" aria-hidden="true"></i>
              Defer and setup reminder
              </a>
            </li>
            <li>
              <a href="">
              <i class="icon-print" aria-hidden="true"></i>
              View / Print log
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="header action">
          <a >Activity log:</a>
          <i class="fa fa-angle-down" aria-hidden="true" onclick="showAction('activity-content')"></i>
        </div>
        <div class="content text-center" id="activity-content">
          <ul>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
          </ul>
          <button class="view-more button-default">
          View more
          </button>
        </div>
      </div>
    </div>
    <div class="">
    </div>
    <div class="activity-mobile">
      <div class="item">
        <div class="header action">
          <a >Activity log:</a>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div class="content text-center">
          <ul>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
            <li class="user">
              <img class="img-user" src="assets/user1.png">
              <p class="info">
                <span class="title">Request by <strong>Dereck Carlson</strong></span>
                <span class="time">Sep 16, 2017 at 9am</span>
              </p>
            </li>
          </ul>
          <div class="text-center">
            <button class="view-more button-default">
            View more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-mobile">
    <div class="fixed">       
      <button class="contact button-default">Contact</button>
      <button class="actions button-default" onclick="showAction('actions-full')">Actions</button>
    </div>
  </div>
  <div class="actions-full" id="actions-full">
    <div class="item">
      <div class="header action">
        <a >Actions:</a>
        <i class="fa fa-close" aria-hidden="true" onclick="showAction('actions-full')"></i>
      </div>
      <div class="content">
        <ul>
          <li>
            <a href="">
            <i class="icon-field"></i>
            Request more info
            </a>
          </li>
          <li>
            <a href="">
            <i class="icon-user" aria-hidden="true"></i>
            Seek owner instructions
            </a>
          </li>
          <li class="active">
            <a href="">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Request quote
            </a>
          </li>
          <li>
            <a href="">
            <i class="icon-send" aria-hidden="true"></i>
            Send work order
            </a>
          </li>
          <li>
            <a href="">
            <i class="icon-setup" aria-hidden="true"></i>
            Defer and setup reminder
            </a>
          </li>
          <li>
            <a href="">
            <i class="icon-print" aria-hidden="true"></i>
            View / Print log
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
