!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello, "#{@user.email}" 
      Please use the link below to setup your password.
    %button  
      = link_to "Setup Password", edit_password_url(@user, password_token:@user.set_password_token)

      Have a great day!