%div.container
  %div.well
    %h4.text-center 
      Set Appointment Time
    %div.appointment 
      = form_for @appointment, url:"/landlord_appointments" do |f|
        =f.hidden_field :maintenance_request_id, value:@maintenance_request_id
        =f.hidden_field :tenant_id, value:@tenant_id
        =f.hidden_field :landlord_id, value:@landlord_id
        =f.hidden_field :status, value:"Active"
        =f.hidden_field :current_user_role, value:"#{current_user.role.roleable_type}"
        %div.form-group
          =f.fields_for :comments do |comments_form|
            =comments_form.text_area :body, placeholder: "Comment", class: "text-center", required: true
            =comments_form.hidden_field :tenant_id, value:@tenant_id
            =comments_form.hidden_field :landlord_id, value:@landlord_id
        %div.form-group.date-time
          %div.date
            =f.label :date
            =f.date_field :date
          %div.time
            =f.label :time
            =f.time_select :time, {ampm: true}
        %div.form-group.text-center
          =f.button "Submit Appointment Time and Comment"




