=react_component('StepProgress', {:step => 1})

%div.container.invoice-form
  =react_component('TradyCompanyInvoice', {:authenticity_token => form_authenticity_token,
                                           :company_name => @trady_company.company_name,
                                           :trading_name => @trady_company.trading_name,
                                           :abn => @trady_company.abn,
                                           :gst_registration => @trady_company.gst_registration,
                                           :address => @trady_company.address,
                                           :mailing_address_same => @trady_company.mailing_address_same,
                                           :mailing_address => @trady_company.mailing_address,
                                           :mobile_number => @trady_company.mobile_number,
                                           :email => @trady_company.email,
                                           :account_name => @trady_company.account_name,
                                           :bsb_number => @trady_company.bsb_number,
                                           :bank_account_number => @trady_company.bank_account_number,
                                           :maintenance_request_id => @maintenance_request_id,
                                           :trady_id => @trady_id,
                                           :trady_company_id => @trady_company.id,
                                           :quote_id => @quote_id,
                                           :invoice_type=>@invoice_type, 
                                           :pdf_file_id=>@pdf_file_id,
                                           :ledger_id=>@ledger_id})

  %button.button-primary
    =link_to "Back", invoice_options_path(trady_company_id:@trady_company.id, maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id)