=react_component('StepProgress', {:step => 1})

%div.container.invoice-form
  =react_component('TradyCompanyInvoice', {:authenticity_token => form_authenticity_token,
                                   :maintenance_request_id => @maintenance_request_id,
                                   :trady_id => @trady_id,
                                   :trady_company_id => @trady_company.id,
                                   :quote_id => @quote_id})