=react_component('StepProgress', {:step => 2})

%div.container.invoice-form
  =react_component('InvoiceFields', {:authenticity_token => form_authenticity_token,
                                     :ledger => @ledger.as_json(:include => {:invoices => {:include => :invoice_items}}),
                                     :_method => "put",
                                     :property => @property,
                                    :trady => @trady,
                                    :quotes => @quotes,
                                     :maintenance_request_id => @maintenance_request_id,
                                     :trady_id => @trady.id,
                                     :quote_id => @quote ? @quote.id : '',
                                     :invoice_type=>@invoice_type,
                                     :backlink => edit_trady_company_path(id:@trady.trady_company,trady_company_id:@trady.trady_company.id, maintenance_request_id:@maintenance_request_id, trady_id:@trady.id, ledger_id:@ledger ,quote_id:@quote ? @quote.id : '', invoice_type:@invoice_type, system_plan:"Invoice")})
