/ =react_component('StepProgress', {:step => 2})

%div.invoice-form
  =react_component('CreateInvoiceForm', {:authenticity_token => form_authenticity_token,
                                     :ledger => @ledger.as_json(:include => {:invoices => {:include => :invoice_items}}),
                                     :_method => "put",
                                     :property => @property,
                                    :trady => @trady,
                                    :quotes => @quotes,
                                     :maintenance_request_id => @maintenance_request_id,
                                     :trady_id => @trady.id,
                                     :quote_id => @quote ? @quote.id : '',
                                     :invoice_type=>@invoice_type,
                                     :backlink => edit_trady_company_path(id:@trady.trady_company,trady_company_id:@trady.trady_company.id, maintenance_request_id:@maintenance_request_id, trady_id:@trady.id, ledger_id:@ledger ,quote_id:@quote ? @quote.id : '', invoice_type:@invoice_type, system_plan:"Invoice"),
                                     :step => "make-invoice", :is_upload => false})




/ =bootstrap_nested_form_for(@ledger, id:@ledger.id, url:"/update_invoice",method: :put,  layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
/   = f.hidden_field :grand_total
/   =f.hidden_field :maintenance_request_id, value:"#{@maintenance_request_id}"
/   =f.hidden_field :trady_id, value:"#{@trady.id}"
/   =f.hidden_field :quote_id, value: @quote ? @quote.id : ''
/   =f.hidden_field :ledger_id, value: @ledger.id
/   #invoice-fields
/     = f.fields_for :invoices do |invoice|
/       = render "invoices/invoice_fields", f: invoice
/     %div.links
/       = link_to_add_association "Add Invoice", f, :invoices
/   = f.hidden_field :grand_total

/   =f.submit "Next"
