=react_component('StepProgress', {:step => 2})

%div.container.invoice-form
  %p
    Please enter Invoice details
  =react_component('InvoiceFields', {:authenticity_token => form_authenticity_token,
                                   :maintenance_request_id => @maintenance_request_id,
                                   :trady_id => @trady.id,
                                   :quote_id => @quote_id,
                                   :backlink => confirm_company_invoice_path(trady_company_id:@trady_company.id, maintenance_request_id:@maintenance_request_id, trady_id:@trady.id, quote_id:@quote_id)})