=react_component('StepProgress', {:step => 4})

%div.container.invoice-form.success
  %h5
    Your Invoice has been sent
  %div.mark
    %i.fa.fa-check
  %p
    Congratulations!
  %p
    Your invoice has been successfully sent.