-object.each do |quote|
  %div.well 
    -if quote.trady != nil 
      %h5
        
        =quote.trady.name
      %h6
        =quote.trady.company_name
      %h6
        =quote.status
      %p
        $
        =quote.amount
      %div
        -if @maintenance_request.property.landlord == nil
          %button{:type=>"button", :class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target"=>"#create-landlord-modal"}
            Forward Quote To Landlord
        -else 
          %button
            =link_to "Forward Quote To Landlord!!!!", forward_quote_path(quote_id:quote.id, maintenance_request_id:quote.maintenance_request_id), method: :post
        -if quote.status == "Approved"
          %button 
            =link_to "Cancel", quote_status_path(quote_id:quote.id,status:"Cancel", maintenance_request_id:quote.maintenance_request_id), method: :post, remote: true
        -if quote.status == "Active" 
          %button  
            =link_to "Approve", quote_status_path(quote_id:quote.id,status:"Approved", maintenance_request_id:quote.maintenance_request_id), method: :post, remote: true
          %button
            =link_to "Decline", quote_status_path(quote_id:quote.id,status:"Declined",maintenance_request_id:quote.maintenance_request_id), method: :post, remote: true
         
        -if quote.status == "Declined" 
          %button
            =link_to "Restore", quote_status_path(quote_id:quote.id,status:"Restore",maintenance_request_id:quote.maintenance_request_id), method: :post, remote: true
      / %div
      /   -if quote.maintenance_request.property.landlord != nil && quote.status == "Active"
      /     %button{:type=>"button", :class=>"btn btn-primary btn-lg"}
      /       =link_to "Forward Quote To Landlord", forward_quote_path(maintenance_request_id:@maintenance_request.id, quote_id:quote.id), method: :post
      /   -else
      /     %button{:type=>"button", :class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target"=>"#create-landlord-modal"}
      /       Add Landlord To This Property

            
