
.container
  %h3 
    = @maintenance_request.service_type 
    Needed for 
    =@maintenance_request.name
  %p 
    Location: 
    =@maintenance_request.property.property_address 
  %p
    Created:
    =@maintenance_request.created_at.strftime("%d %b. %Y")
  %p
    Job type:
    =@maintenance_request.service_type
  %p#landlord
    Landlord:
    
    -if @maintenance_request.property.landlord != nil
      = @maintenance_request.property.landlord.name.capitalize
    -else
      %button{:type=>"button", :class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target"=>"#create-landlord-modal"}
        To Send Quotes From Tradies to Landlord Please Add Landlord To This Property

  %p
    Agent Managing: 
    -if @maintenance_request.agent_name == nil
      =@maintenance_request.agency_admin.first_name
    -else
      =@maintenance_request.agent_name
  %h3
    =@maintenance_request.maintenance_heading
  %p
    =@maintenance_request.maintenance_description 


  =render "maintenance_requests/quotes", object:@quotes
  / %div
  /   =react_component "quotes", {quotes: @maintenance_request.quotes}

 

%div.container
  -if current_user.agent? || current_user.agency_admin?
    %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#ask-mr-landlord-modal"}
      Ask Landlord
    %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#request-quote-modal"}
      Request Quote




  %button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#myModal"}
    -if current_user.agent? || current_user.agency_admin? 
    
      Send Tenants Message
    -elsif current_user.tenant?
      Send Agent Message

  
  
  / && current_user.trady? && current_user.trady.id == @quote.trady_id
  / -binding.pry
  -if @quote != nil 
    =link_to "Invoice", confirm_company_invoice_path(trady_company_id:@quote.trady.trady_company.id, maintenance_request_id:@maintenance_request.id,trady_id:@quote.trady.id, quote_id:@quote.id), class: "btn btn-primary btn-lg"
      

%div{:class=>"modal fade", :id=>"myModal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}

  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      
      %div{:class=>"modal-body message_modal"}

        / -@tenants_conversation.each do |msg|
        /   %div.well#chat_message 
        /     =render partial: "messages/message", object: msg
        %div.messages_container    
          = render partial: "messages/message", collection: @tenants_conversation, as: :message   
        
        %div{:id=>"errors_div"}
        =bootstrap_form_for(@message,remote: true,url:"/messages", method: :post) do |f|
          
          =f.text_field :body, class: "message_body"
          =f.hidden_field :conversation_type, value:"Tenant"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default"
          %button{:type=>"button", :class=>"btn btn-default", "data-dismiss"=>"modal"}
            Close
        


      
=bootstrap_form_for(@landlord,url:"/create_landlord",remote: true) do |f|
  %div{:class=>"modal fade", :id=>"ask-mr-landlord-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          
          =f.text_field :name, class: "create_landlord_fields"
          =f.text_field :email, class: "create_landlord_fields"
          =f.phone_field :mobile, class: "create_landlord_fields"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default"

=bootstrap_form_for(@landlord,remote: true) do |f|
  %div{:class=>"modal fade", :id=>"create-landlord-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          
          =f.text_field :name, class: "landlord_fields"
          =f.text_field :email, class: "landlord_fields"
          =f.phone_field :mobile, class: "landlord_fields"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Add Landlord", :class=>"btn btn-default"
          

=bootstrap_form_for(@tradie,remote: true) do |f|
  %div{:class=>"modal fade", :id=>"request-quote-modal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          =collection_select(@tradie,:id, @all_tradies, :id, :name_and_company,{prompt: "Select the Tradie"}, id:"trady_select")
          =f.text_field :company_name, class: "tradie_fields", id:"trady_company_name"
          =f.text_field :name, class: "tradie_fields", id:"trady_name"
          =f.text_field :email, class: "tradie_fields", id:"trady_email"
          =f.phone_field :mobile, class: "tradie_fields", id:"trady_mobile"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.hidden_field :skill_required, value:@maintenance_request.service_type
          =f.submit "Send Request", :class=>"btn btn-default"


%div{:class=>"modal fade", :id=>"more_quotes", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-body"}
        %p Would you like to ask for more Quotes
        %button{:type=>"button", :class=>"btn btn-primary ","aria-haspopup"=>"true", id:"no-more-quotes" } No
        %button{:type=>"button", :class=>"btn btn-primary ", id:"yes-more-quotes"} Yes



        
          
          



        
          
          

