
.container
  %h3 
    = @maintenance_request.service_type 
    Needed for 
    =@maintenance_request.name
  %p 
    Location: 
    =@maintenance_request.property.property_address 
  %p
    created:
    =@maintenance_request.created_at.strftime("%d %b. %Y")
  %p
    Job type:
    =@maintenance_request.service_type
  %p
    Agent Managing: 
    -if @maintenance_request.agent_name == nil
      =@maintenance_request.agency_admin.first_name
    -else
      =@maintenance_request.agent_name
  %h3
    =@maintenance_request.maintenance_heading
  %p
    =@maintenance_request.maintenance_description 




%button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#myModal"}
  Send Agent Message



      

%div{:class=>"modal fade", :id=>"myModal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}

  %div{:class=>"modal-dialog", :role=>"document"}
    %div{:class=>"modal-content"}
      
      %div{:class=>"modal-body message_modal"}

        / -@tenants_conversation.each do |msg|
        /   %div.well#chat_message 
        /     =render partial: "messages/message", object: msg
        %div.messages_container    
          = render partial: "messages/message", collection: @tenants_conversation, as: :message   
        
        %div{:id=>"errors_div"}
        =bootstrap_form_for(@message,remote: true,url:"/messages", method: :post) do |f|
          
          =f.text_field :body, class: "message_body"
          =f.hidden_field :conversation_type, value:"Tenant"
          =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
          =f.submit "Submit Message", :class=>"btn btn-default", :id=>"message_button"
          %button{:type=>"button", :class=>"btn btn-default", "data-dismiss"=>"modal"}
            Close