

%div.container
  %div.well
    -@invoice.invoice_items.each do |f|
      %p
        =f.item_description
        =f.amount 
    %p
      total:
      =@invoice.amount
    %button
      = link_to 'Print Invoice', print_invoice_path(id:@invoice), :onclick => 'window.print();return false;', method: :post

