%div.container.well
  -@pdf.invoices.each do |pdf|
    %div#Iframe-Master-CC-and-Rs.set-margin.set-padding.set-border.set-box-shadow.center-block-horiz
      %div.responsive-wrapper.responsive-wrapper-wxh-572x612
        %iframe{:src=> pdf.url,:style=>"border: 0" ,:width=>"70%", :height=>"800", :frameborder=>"0", :scrolling =>"no"}
      
  %div
  


