-@chat.each do |message|
  %div.well
    =message.body





%button{:type=>"button", :class=>"btn btn-primary btn-lg", "data-toggle"=>"modal", "data-target"=>"#myModal"}
  Launch demo modal



      
=bootstrap_form_for(@message,remote: true) do |f|
  %div{:class=>"modal fade", :id=>"myModal", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel"}
    %div{:class=>"modal-dialog", :role=>"document"}
      %div{:class=>"modal-content"}
        %div{:class=>"modal-body"}
          
          =f.hidden_field :receiver_id, value:@recipient
          
          =f.text_field :body
          =f.submit "Submit Message", :class=>"btn btn-default", :id=>"message_button"