%h1 This is the admins home page/Dashboard Here we need the list of all the maintenance requests
=link_to "New Maintenance Request", root_path
%br
=link_to "My Maintenance Requests", maintenance_requests_path
