<nav class="navbar">
  <nav class="pushy pushy-left">
    <ul>  
      <li class="pushy-link"><a href="#">Login</a></li>
      <li class="pushy-submenu">
        <a href="#">Register</a>
        <ul>
          <li class="pushy-link"><a href="#">Register Agency</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="site-overlay"></div>
  
  <div class="container">
    <div class="logo">
      <img src="/assets/logo.png" alt="logo">
      <%= link_to "MaintenanceApp", root_path %>
    </div>
    <span class="desktop-menu">
        <%= link_to "Login", menu_login_path, class:"login" %>
        <a href="/" class="register">Register</a>
    </span>

    <div class="menu-btn"> ☰ </div>
  </div>
</nav>

