This is where we edit 
.container.well
  = bootstrap_form_for @agency do |f|
    =f.text_field :company_name
    =f.text_field :business_name
    =f.text_field :abn
    =f.text_field :address
    =f.text_field :mailing_address
    =f.telephone_field :phone
    =f.telephone_field :mobile_phone
    = f.form_group :license_type, label: { text: "License Type" } do 
      = f.radio_button :license_type, "Individual License", label: "Individual License", inline: true 
      = f.radio_button :license_type, "Corporate License", label: "Corporate License", inline: true 
    =f.text_field :corporation_license_number
    =f.submit




%div
  =link_to "Add Agency Admin", new_agency_admin_path
  =link_to "Add Agent", new_agent_path
  
  




