%div.well.container
  =react_component('TradyRegistrationForm', {:authenticity_token => form_authenticity_token, :maintenance_request_id => @maintenance_request_id, :trady_company_id => @trady_company_id, :trady_id => @trady_id, :step => "terms-and-conditions", :edit_services_path => edit_services_path(maintenance_request_id:@maintenance_request_id, trady_company_id:@trady_company_id, trady_id:@trady_id)})
