!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@trady.name.capitalize}
      An appointment with #{@tenant.name.capitalize} for the maintenance request below has been accepted.

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p When the job has been completed please click on the button below to send the invoice for your services. Thank You 

    %button
      =link_to "Send Invoice", invoice_options_url(maintenance_request_id:@maintenance_request.id, trady_id: @trady.id, trady_company_id:@trady.trady_company.id, user_id:@trady.user.id)
      / =link_to "Send Invoice", maintenance_request_url(@maintenance_request,user_id:@trady.user.id)

    