!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@trady.name.capitalize}
      We have accepted you quote offer for the following job listed below

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p To Setup an appointment with the tenant please click the button below.

    %button
      =link_to "Setup Appointment", new_appointment_url(maintenance_request_id:@maintenance_request.id,trady_id:@trady.id, user_id:@trady.user.id)





    

