!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@trady.name.capitalize}
      We have accepted you quote offer for the following job listed below

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p To Setup an appointment with the tenant please click the button below.

    %button
      =link_to "Setup Appointment", new_appointment_url(maintenance_request_id:@maintenance_request.id,trady_id:@trady.id, user_id:@trady.user.id)



    %h1 The stuff below is for another email after the appointment has been confirmed

    %p When the job has been completed click The button below to access the invoice form.


    =link_to "Send Invoice", maintenance_request_url(@maintenance_request,user_id:@trady.user.id)

