!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@trady.name.capitalize}
      Sorry to inform you that the job below has been cancelled

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

   