!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hi #{@trady.name.capitalize}
      Sorry to inform you that your quote has been declined

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

   