!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello, "#{@trady.name.capitalize}" 
      We would love to ask for a quote for the following job. The information on the complaint can be found below

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p If you can send us a Quote on how much it would cost to get this fixed that would be great. To submit the Quote click on the link below. 

    =link_to "Send us your quote", new_trady_company_url(maintenance_request_id:@maintenance_request,trady_id:@trady.id)