- content_for :expanded, true
= react_component 'HomeComponent', {:link => "/landlord_maintenance_requests", :current_user_landlord => @current_user.landlord, :maintenance_requests => @maintenance_requests_json, :services => @service}

/ .pages
/   .header
/     = form_tag('/route_user_type', method: :post, class: "form-address") do
/       = fields_for :form_fields  do |h|
/         .select
/           / = h.select :user_role, options_for_select(@main_users.map{|j|[j.main_user_type, j.main_user_type] }), {:include_blank => "I`m a.."}, {required: true},:selected=>(@role)
/           -if current_user == nil
/             = h.select :user_role, options_for_select({ "Agent" => "Agent", "Tenant" => "Tenant" }), {:include_blank => "I`m a.."}
/           -elsif current_user.current_role.role == "Tenant"
/             = h.select :user_role, options_for_select({"Tenant" => "Tenant" }, @role ), {:include_blank => "I`m a.."}
/           -elsif current_user.current_role.role == "AgencyAdmin" || current_user.current_role.role == "Agent"
/             = h.select :user_role, options_for_select({ "Agent" => "Agent", "Tenant" => "Tenant" }, @role ), {:include_blank => "I`m a.."}
/           -elsif current_user.current_role.role == "Landlord" || current_user.current_role.role == "Trady"
/             = h.select :user_role, options_for_select({"Tenant" => "Tenant" }), {:include_blank => "I`m a.."}
/           / = h.select :user_role, options_for_select({ "Agent" => "Agent", "Tenant" => "Tenant" }, @role ), {:include_blank => "I`m a.."}, {required: true}
/           = h.select :tradie, options_for_select(@service.map{|j|[j.service, j.service] }), {:include_blank => "I need a.."}
/         .input-address
/           = h.text_area :address, id:'pac-input', :placeholder => 'For my place at..', disable:true,  hide_label: true, :onKeyup => "getAddressOfGoogleMap()"
/         .btn-submit
/           = h.button "Send", class: 'button-primary green'

/     %input{:type=>"hidden", :id=>"refresh", :value=>"no"}

/   .main
/     .container
/       .row
/         %h3.title How it works!
/         .row.how-it-works
/           .three.columns
/             %img{:src => "/assets/key1.png"}/
/             %h4 Maintenance requested
/             %p Fill in the Maintenance form and submit the request
/           .three.columns
/             %img{:src => "/assets/key2.png"}/
/             %h4 Maintenance actioned
/             %p Sit back, relax and let us sort out the maintenance for you without delays
/           .three.columns
/             %img{:src => "/assets/key3.png"}/
/             %h4 Track your Maintenance
/             %p Receive notifications on where your maintenance request is up or track it online
/           .three.columns
/             %img{:src => "/assets/key4.png"}/
/             %h4 Maintenance completed !
/             %p Enjoy an easy stress free process to maintenance completion
/       .line
/       .row
/         %h3.title Making lives easier for
/         .row.app-for
/           .row
/             .four.columns
/               %img{:src => "/assets/m_LJ.png"}/
/             .four.columns
/               %img{:src => "/assets/m_One.png"}/
/             .four.columns
/               %img{:src => "/assets/m_Raine.png"}/
