
= react_component 'TradyMaintenanceRequest', {:landlord => @landlord, :quotes => @quotes, :property => @maintenance_request.property, :invoices => @maintenance_request.delivered_invoices, :gallery => @gallery, :authenticity_token => form_authenticity_token, :maintenance_request => @maintenance_request, :tenants_conversation => @tenants_conversation, :landlords_conversation => @landlords_conversation, :current_user => @current_user, :agency => @agency, :tradies => @all_tradies, :invoices => @invoices, :invoice_pdf_files => @invoice_pdf_files, :assigned_trady => @assigned_trady, :signed_in_trady => @signed_in_trady}













