= react_component 'TradyMaintenanceRequest', {:landlord => @landlord, :quotes => @quotes, :property => @maintenance_request.property, :invoices => @maintenance_request.delivered_invoices, :gallery => @gallery, :authenticity_token => form_authenticity_token, :maintenance_request => @maintenance_request, :tenants_conversation => @tenants_conversation, :landlords_conversation => @landlords_conversation, :current_user => @current_user, :current_user_show_quote_message => @current_user.trady, :agency => @agency, :tradies => @all_tradies, :invoices => @invoices, :invoice_pdf_files => @invoice_pdf_files, :assigned_trady => @assigned_trady, :signed_in_trady => @signed_in_trady, :logs => @logs}


=link_to "Job Complete", job_completed_path(maintenance_request_id:@maintenance_request.id)
=link_to "Create Appointment", new_appointment_path(maintenance_request_id:@maintenance_request.id, trady_id:@current_user.trady.id)


/ -if @maintenance_request.trady.id != current_user.trady.id
/   %h2 
/     Sorry The Job has been Given to Someone else. Better Luck Next time

/   %p
/     We should hide the action and contact area if they didnt get it. Not sure?
/     for sure hide the job complete button. 

