%div.container.reset-password
  %h1 Please Set Password Below
  %div.form-reset
    = react_component('SetPassword', { :authenticity_token => form_authenticity_token, :current_user => current_user })


-# %div.container.reset-password
-#   %h1 Please Set Password Below  
-#   %div.form-reset
-#     = bootstrap_form_for @user, url: "/confirm_password" do |f| 
      
-#       = @user.email 
-#       =f.hidden_field :email, value: @user.email
-#       = f.password_field :password , required: true , minlength: 3
-#       = f.password_field :password_confirmation, required: true , autocomplete: "off", minlength: 3
-#       = button_tag "Update", class: 'button-primary green'
