!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@tenant.name.capitalize}
      A different appointment time with the trady #{@trady.name.capitalize} has been requested, for the maintenance request below.

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p To confirm the new appointment with the trady please click button below and follow the instructions.

    %button
      =link_to "Confirm Appointment", appointment_url(@appointment,maintenance_request_id:@maintenance_request.id,trady_id:@trady.id,tenant_id:@tenant.id, user_id:@user.id)
