!!! 5
%html(lang="en-US")
  
  %body
    %p 
      Hello #{@tenant.full_name.capitalize}
      An appointment with the trady for the maintenance request below has been made

    %h3
      =@maintenance_request.maintenance_heading
    %p
      =@maintenance_request.maintenance_description

    %p To confirm the appointment with the trady please click the button below.

    %button
      =link_to "Setup Appointment", appointment_url(@appointment,maintenance_request_id:@maintenance_request.id,trady_id:@trady.id,tenant_id:@tenant.id, user_id:@tenant.user.id)



    