%div.container.well
  %h3
    Please Attach You Invoice(s)!!



  %div
    =form_for @file do |f|
      
      = f.file_field :invoices, multiple: true
      =f.hidden_field :maintenance_request_id, value:@maintenance_request_id
      =f.hidden_field :trady_id, value:@trady_id
      =f.hidden_field :quote_id, value:@quote_id
      = f.submit "Submit PDF"


  %button
    / =link_to "Back", invoice_options_path(maintenance_request_id:@maintenance_request_id, trady_id:@trady_id,quote_id:@quote_id)

    =link_to "Back", confirm_company_invoice_path(pdf_file_id:@file.id,trady_company_id:@trady_company_id, maintenance_request_id:@maintenance_request_id, trady_id:@trady_id, invoice_type:"pdf_file")