%div.container.well
  %h3
    Please Attach You Invoice(s)!!



  %div
    =form_for @file do |f|
      
      = f.file_field :invoices, multiple: true
      =f.hidden_field :maintenance_request_id, value:@maintenance_request_id
      =f.hidden_field :trady_id, value:@trady_id
      =f.hidden_field :quote_id, value:@quote_id
      = f.submit "Submit PDF"