%div.container.well
  -@pdf.invoices.each do |pdf|
    %div#Iframe-Master-CC-and-Rs.set-margin.set-padding.set-border.set-box-shadow.center-block-horiz
      %div.responsive-wrapper.responsive-wrapper-wxh-572x612
        %iframe{:src=> pdf.url,:style=>"border: 0" ,:width=>"100%", :frameborder=>"0"}
      
  %div

    %button.button-primary
      =link_to "Back", edit_uploaded_invoice_path(@pdf,maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan)

    %button.button-primary.green.right
      =link_to "Submit", send_pdf_invoice_path(pdf_invoice_id:@pdf.id,maintenance_request_id:@maintenance_request_id), method: :post

    


