:javascript
  stripe = Stripe('#{Rails.configuration.stripe[:publishable_key]}');

= react_component 'CreateInvoiceForm', {:authenticity_token => form_authenticity_token, :pdf_url => @pdf.pdf_url, :maintenance_request_id => @maintenance_request_id, :trady_id => @trady_id, :trady_company_id => @trady_company_id, :pdf_path => "https://docs.google.com/gview?url=#{@pdf.pdf_url.try(:gsub, /.pdf\?.*/, '')}.pdf&embedded=true", :pdf => @pdf, :edit_uploaded_invoice_path => edit_uploaded_invoice_path(pdf:@pdf,maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan), :send_pdf_invoice_path => send_pdf_invoice_path(pdf_invoice_id:@pdf.id,maintenance_request_id:@maintenance_request_id), :customer => @customer, :trady => @trady, :step => "submit-invoice", :is_upload => true}

/ -@pdf.invoices.each do |pdf|


/ %div.container.well
/   %div#Iframe-Master-CC-and-Rs.set-margin.set-padding.set-border.set-box-shadow.center-block-horiz
/     %div.responsive-wrapper.responsive-wrapper-wxh-572x612{style: "height: 500px"}
/       %object{data: @pdf.pdf_url, style: "border: 0", width: "100%", frameborder: "0", height: "500"}
/         %iframe{src: "https://docs.google.com/gview?url=#{@pdf.pdf_url.try(:gsub, /.pdf\?.*/, '')}.pdf&embedded=true", style: "border: 0", width: "100%", frameborder: "0", height: "500"}
/   %div.text-center.m-b-lg
/     Total Amount Invoice:
/     =@pdf.total_invoice_amount
/   %div.text-center.m-b-lg
/     %div.button-type.button-primary
/       =link_to "Back", edit_uploaded_invoice_path(pdf:@pdf,maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan)
/     %div.button-type.button-primary.green.right
/       =link_to "Submit", send_pdf_invoice_path(pdf_invoice_id:@pdf.id,maintenance_request_id:@maintenance_request_id), method: :post
