%div.container.well
  / -@pdf.invoices.each do |pdf|
  %div#Iframe-Master-CC-and-Rs.set-margin.set-padding.set-border.set-box-shadow.center-block-horiz
    %div.responsive-wrapper.responsive-wrapper-wxh-572x612
      %embed{:src=> "https://maintenance-app.s3-ap-southeast-2.amazonaws.com/store/ea1171b38e3e495dd07998cfbf60c706.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJK2TW2FXHCOMIPQQ%2F20170801%2Fap-southeast-2%2Fs3%2Faws4_request&X-Amz-Date=20170801T230113Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=54c452f5dda59ee775bf47fadbf042320f8e9acc4fb340e147872232ebf6a243",:style=>"border: 0" ,:width=>"100%", :frameborder=>"0", :height => '400'}
      
  %div

    %button.button-primary
      =link_to "Back", edit_uploaded_invoice_path(@pdf,maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id, invoice_type:@invoice_type, system_plan:@system_plan)

    %button.button-primary.green.right
      =link_to "Submit", send_pdf_invoice_path(pdf_invoice_id:@pdf.id,maintenance_request_id:@maintenance_request_id), method: :post

    


