%div.well.container
  =react_component('NewTradyCompany', {:authenticity_token => form_authenticity_token, :maintenance_request_id => @maintenance_request_id, :new_tradie_registration_path => new_tradie_registration_path(maintenance_request_id:"#{@maintenance_request_id.nil? ? '' : @maintenance_request_id}"), trady_id: @trady_id.nil? ? '' : @trady_id})
