%div.container.well
  -@pdf.quotes.each do |pdf|
    %div#Iframe-Master-CC-and-Rs.set-margin.set-padding.set-border.set-box-shadow.center-block-horiz
      %div.responsive-wrapper.responsive-wrapper-wxh-572x612
        %iframe{:src=> pdf.url,:style=>"border: 0" ,:width=>"100%", :frameborder=>"0"}

  %div

    %div.button-type.button-primary
      =link_to "Back", edit_uploaded_quote_path(@pdf,maintenance_request_id:@maintenance_request_id,trady_id:@trady_id, quote_id:@quote_id, quote_type:@quote_type, system_plan:@system_plan)

    %div.button-type.button-primary.green.right
      =link_to "Submit", send_pdf_quote_path(pdf_quote_id:@pdf.id,maintenance_request_id:@maintenance_request_id), method: :post

    / %iframe{:src=>"'#{pdf.url}'", :style=>"border: 0" ,:width=>"50%", :height=>"600", :frameborder=>"0", :scrolling =>"no" }


