- edit_agency, edit_agency_admin, edit_agent, user_name = nil

- searchText = params[:query]

-if current_user.logged_in_as("AgencyAdmin")
  -edit_agency = edit_agency_path(current_user.agency_admin.agency.id)
  -edit_agency_admin = edit_agency_admin_path(current_user.agency_admin.id)
  -user_name = (current_user.agency_admin.first_name || '') + ' ' + (current_user.agency_admin.last_name)

-elsif current_user.logged_in_as("Agent")
  -edit_agent = edit_agent_path(current_user.agent.id) 
  -user_name = current_user.agent.name || ''

- images = profile_and_company_avatar

=react_component('Recruit', {:jfmo_request => @jfmo_request, :current_role => current_user.current_role, :edit_agency => edit_agency, :edit_agency_admin => edit_agency_admin, :edit_agent => edit_agent, :user_name => user_name, :images => images, logout_path: logout_path, :searchText => params[:query], :authenticity_token => form_authenticity_token, :link => "/recruits"})
-# =link_to "JFMO request list", recruits_path

-# %br
-# %br
-# %br
-# Maintenance Request ID: @maintenance_request.id
-# Maintenance Description:
-# =@maintenance_request.maintenance_description
-# %br
-# Maintenance Description:
-# =@maintenance_request.maintenance_description
-# %br
-# Service Needed:
-# =@maintenance_request.service_type

-# %br
-# %br
-# %br
-# Form for Sending Tradie Invitation
-# = bootstrap_form_for @trady, url: '/quote_request_for_recruit', method: :post do |f| 
-#   = f.text_field :name, placeholder: 'name@example.com'
-#   = f.text_field :company_name, placeholder: 'Business Name', label: "Business Name"
-#   = f.email_field :email, placeholder: 'name@example.com'
-#   = f.phone_field :mobile, placeholder: 'Mobile Phone Number'
-#   = f.hidden_field :maintenance_request_id, value:@maintenance_request.id
-#   = f.hidden_field :jfmo_request_id, value:@jfmo_request.id 
-#   = f.submit "Send Quote Request" 





/ %br
/ %br



/ Form for Sending Quote Request
/ = bootstrap_form_tag url: '/quote_request_for_recruit', method: :post do |f| 
/   = f.email_field :email, placeholder: 'name@example.com'
/   =f.hidden_field :maintenance_request_id, value:@maintenance_request.id
/   =f.hidden_field :jfmo_request_id, value:@jfmo_request.id 
/   = f.submit "Send Quote Request Email" 
