.about {
  &#static-pages {
    height: inherit;

    .scroll-bar {
      height: inherit;
      overflow-y: auto;

    }
  }
  .about-top-image {
    position: relative;
    min-height: 250px;
    max-height: 400px;
    background-repeat: round;
    background-image: url(/assets/about-top-image.jpg);
  }
  .about-bottom-image {
    @include flexbox;
    min-height: 250px;
    max-height: 400px;

    .one-image {
      @include flex(1);
      background-repeat: round;
    }
    .first-image {
      min-height: 250px;
      max-height: 400px;
      background-image: url(/assets/about-bottom-first-image.jpg);
    }
    .second-image {
      min-height: 250px;
      max-height: 400px;
      background-image: url(/assets/about-bottom-second-image.jpg);
    }
    .third-image {
      min-height: 250px;
      max-height: 400px;
      background-image: url(/assets/about-bottom-third-image.jpg);
    }
  }
}
