.about {
  .about-top-image {
    max-height: 300px;
    position: relative;
    min-height: 150px;
    max-height: 300px;
    background-image: url(/assets/about-top-image.jpg);
  }
  .about-bottom-image {
    @include flexbox;
    width: 100%;
    .one-image {
      @include flex(1);
    }
    .first-image {
      min-height: 150px;
      max-height: 300px;
      background-image: url(/assets/about-bottom-first.jpg);
    }
    .second-image {
      min-height: 150px;
      max-height: 300px;
      background-image: url(/assets/about-bottom-second.jpg);
    }
    .third-image {
      min-height: 150px;
      max-height: 300px;
      background-image: url(/assets/about-bottom-third.jpg);
    }
  }
}
