$color-text: #83878C;

.edit_agency_profile {
  .left {
    margin: 22px 5%;
  }
}

.agencies {

  width: 100%;
  margin: 20px auto;
  padding-bottom: 10px;
  color: $color-text;

  p {
    margin: 5px 0 10px;
  }

  label {
    display: inline-block;
    font-weight: normal;
    margin-left: 0;
    margin-bottom: 15px;
  }

  input {
    display: block;
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
    display: inline-block;
    width: auto;
  }

  .field {
    margin: 20px 0;

   label {
     margin: 0;
   }

   p {
     margin: 5px 0;
   }
  }

  .have-account {
    p, a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  button.button-submit {
    background-color: $color-green-submit;
    color: white;
    width: 100%;
    border: none;

    &:hover {
      background-color: #619970;
    }
  }
  /* For Desktop */
  @media (min-width: 550px) {
    width: 80%;
  }
  @media (max-width: 550px) {
    input {
      font-size: 0.9em;
    }
  }
}
