.edit_agency_profile {
  .left {
    margin: 22px 5%;
  }
}

.agencies {

  width: 100%;
  margin: 20px auto;

  .agency-name, .agency-contact {
    @include flexbox;
    @include justify-content(space-between);
    @include justify-content(justify);

    .company-name, .business-name, .agency-mobile, .agency-phone {
      @include flex(1);
      max-width: 48%;
    }
  }
  .error {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .user-name {
    @include flexbox;
    @include justify-content(space-between);
    @include justify-content(justify);

    .user-first-name, .user-last-name  {
      @include flex(1);
      max-width: 48%;
    }
  }
  .agency-button {
    @include flexbox;
    @include justify-content(center);
    margin-top: 20px;

    .agency-button-submit  {
      width: 30%;
      padding: 0;
      text-align: center;
    }
  }

  .user-button {
    @include flexbox;
    @include justify-content(space-between);
    @include justify-content(justify);
    margin: 0 15px;

    .button-user-back, .button-user-submit {
      @include flex(1);
      margin-left: 10%;
      margin-right: 10%;
    }
    .button-user-back {
      color: black;
      background-color: white;
    }
  }

  p {
    margin: 20px 0 5px;
  }

  label {
    display: inline-block;
    font-weight: normal;
    margin-left: 0;
    margin-bottom: 15px;
  }

  input {
    display: block;
    margin-top: 10px;
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
    display: inline-block;
    width: auto;
  }

  .field {
    margin: 20px 0;

   p {
     margin: 5px 0;
   }
 }

  .have-account {
    p, a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  /* For Desktop */
  @media (min-width: 550px) {
    width: 70%;
  }
}
