.edit_agency_profile {
  .left {
    margin: 22px 5%;
  }
}

.agencies {

  width: 100%;
  margin: 20px auto;

  p {
    margin: 20px 0 5px;
  }

  label {
    display: inline-block;
    font-weight: normal;
    margin-left: 0;
    margin-bottom: 15px;
  }

  input {
    display: block;
    width: 100%;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
    display: inline-block;
    width: auto;
  }

  .field {
    margin: 20px 0;

   label {
     margin: 0;
   }

   p {
     margin: 5px 0;
   }
 }

  .have-account {
    p, a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  /* For Desktop */
  @media (min-width: 550px) {
    width: 50%;
  }
}

#new_user {
  input[type="submit"] {
    margin-top: 10px;
  }
}
