.appointment {
	width: 400px;
	margin: auto;
	margin-top: 30px;
	p {
		margin-bottom: 0px;
	}
	.comment {
		border: 1px solid #ddd;
		border-radius: 5px;
		width: 100%;
		margin-bottom: 20px;
	}
	.content {
		margin-left: 15px;
		margin-top: 5px;
		font-size: 16px;
	}
	.detail {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		font-size: 12px;
		line-height: 20px;
		.status {
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			display: inline-block;
			margin-right: 5px;
			line-height: 25px;
		}
		.date-time {
			font-size: 12px;
			line-height: 25px;
			margin-left: 5px;
			margin-right: 10px;
		}
	}
	.new_appointment, .edit_appointment, .new_comment {
		margin-top: 30px;
		.form-group {
			textarea {
				width: 100%;
			}
			button {
				background-color: #7dc691;
				border-color: #7dc691;
				color: #fff;
				&:hover, &:active{
					background-color: #2FA342;
					border-color: #2FA342;
				}
			}
		}
		.date-time {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 14px;
			.date {
				input {
					height: 38px;
					padding: 6px 10px;
					background-color: #fff;
					border: 1px solid #D1D1D1;
					border-radius: 4px;
					box-shadow: none;
					box-sizing: border-box;
				}
			}
		}
	}
	.edit_appointment {
		margin-top: 0px;
	}
}

.appointments {
	width: 600px;
	margin: 0 auto;
	.maintenance-header {
		margin-top: 30px;
	}
	.maintenance-content {
		text-align: center;
		font-size: 16px;
	}
	.date-time {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}
	.appointment-comments {
		.comment {
			width: 100%;
			padding: 5px 10px;
			border: 1px solid #ddd;
			margin-bottom: 10px;
			border-radius: 5px;
			.content {
				text-align: left;
				margin-bottom: 5px;
			}
			.detail {
				margin-bottom: 0;
				text-align: right;
				.time {
					font-size: 12px;
				}
			}
		}
	}
	.btn-action {
		text-align: center;
		margin-bottom: 50px;
		.accept {
			background-color: #7dc691;
			border-color: #7dc691;
			a {
				color: #fff;
				text-decoration: none;
			}
			&:hover, &:active{
				background-color: #2FA342;
				border-color: #2FA342;
			}
		}
		.other {
			background-color: #627684;
			border-color: #627684;
			a {
				color: #fff;
				text-decoration: none;
			}
			&:hover, &:active{
				background-color: #3E4B54;
				border-color: #3E4B54;
			}
		}
	}
}