$color-green-submit: #71C796;
$color-blue: #4CC6EE;
$color-text: #83878C;

#payment-form {
  .StripeElement {
    height: initial;
  }
  #card-errors {
    color: red;
    text-align: center;
  }
  .agree_checkbox {
    position: relative;
    label {
      margin-left: 45px;
    }
    input {
      height: 20px;
      width: 20px;
      margin-right: 20px;
      left: 20px;
      position: absolute;
    }
  }
  .card-title {
    margin: 20px 0px 10px 0;
    font-size: 20px;
  }
  .buttons {
    margin-top: 20px;
    button {
      background-color: $color-green-submit;
      color: white;
      border: 0;

      &:hover {
        background-color: #619970;
      }
    }
  }
  @media (max-width: 550px) {
    .terms-and-conditions {
      .scroll-bar {
        height: 180px;
      }
    }
  }
}
