.invoice-form {
	width: 98%;
	min-height: 500px;
	padding: 30px;
	background: white;
	border-radius: 4px;
	border: 1px solid #edf1f4;
	/*box-shadow: 0 1px 10px #888888;*/
    margin: 30px auto;

	button.button-primary.option-button {
		margin: 0;
		height: 38px;
		padding: 0px 10px;
	}

	.info-invoice {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		.title {
			font-weight: bold;
		}
	}

	.invoice-left {
		flex: 1;
	}

	.invoice-right {
		flex: 1;
	}

	.optionheader {
		margin: 0;
	}

	.optiondescription {
		color: #8aa7c3;
	}

	.invoice-info {
		width: 250px;
		float: right;

		p {
			display: inline-block;
			margin: 0;
		}
		span {
			float: right;
		}
	}
	.grand-total {
		margin-bottom: 50px;
		text-align: right;
	}
	input {
		display: block;
		width: 100%;
	}

	input[type="submit"] {
	    width: 100px;
	    bottom: 30px;
	    position: absolute;
	    right: 30px;
	    margin: 0;
	}

	button {
		margin-top: 20px;
		a {
			text-decoration: none;
			color: white;

			&:hover {
				color: white;
			}
		}
		&.right {
		    bottom: 30px;
		    position: absolute;
		    right: 30px;
		    margin: 0;
		}
	}

	a {
		&.left {
		    width: 100px;
		    bottom: 30px;
		    position: absolute;
		    margin: 0;
		}
	}

	.additon {
		margin: 5px;
		.paid-type label, .invoice_tax {
			display: inline-block;
			font-weight: normal;
			margin-bottom: 0;

			input[type="radio"], input[type="checkbox"] {
				margin-right: 8px;
				display: inline-block;
				width: auto;
			}
		}
	}

	form#edit_trady_company_2 {
		width: 100%;
		margin: 20px auto;

		p {
			margin: 20px 0 5px;
		}

		label {
			display: inline-block;
			font-weight: normal;
			margin-left: 0;
		}

		input[type="radio"],
		input[type="checkbox"] {
	        margin-right: 8px;
	        display: inline-block;
	        width: auto;
		}
	}

	.invoicefield {
		border: 1px solid #E1E1E1;
		padding: 10px;
		fieldset {
			border: none;
			padding: 0;

			label {
				display: block;
				font-weight: normal;
			    margin-top: 10px;
				margin-bottom: 0;

				input[type="radio"], input[type="checkbox"] {
					margin-right: 8px;
					display: inline-block;
					width: auto;
				}
			}
			.field {
				p {
					display: inline-block;
					width: 115px;
				}
				input {
					display: inline-block;
					width: auto;
				}
				input[type="date"] {
					height: 38px;
					padding: 6px 10px;
					background-color: #fff;
					border: 1px solid #D1D1D1;
					border-radius: 4px;
					box-shadow: none;
					box-sizing: border-box;
				}
			}
		}

		button.button-remove {
			font-size: 13px;
			height: 24px;
		}
	}

	.invoiceitemfield {
    	border: 1px dashed #E1E1E1;
		padding: 10px;
		position: relative;
		margin-top: 20px;

		fieldset {
			border: none;
			padding: 0;
			p {
				display: inline;
			}
		}

		.button-remove {
		    position: absolute;
		    top: -32px;
		    right: 5px;
		    padding: 0;
		    height: 23px;
		    width: 23px;
		    border-radius: 23px;
		    line-height: 20px;
		}
	}

	.fieldlist {
		position: relative;
		ul {
			list-style: none;
			margin: 0;
			li {
				position: relative;
				margin-bottom: 25px;
				.invoice-index {
				    position: absolute;
				    background: white;
				    font-size: 20px;
				    top: -15px;
				    left: 10px;
				}
			}
		}
		
		button {
			&.button-add {	
				margin-top: 5px;
				font-size: 13px;
	    		height: 24px;
			}
		}
	}

	p.invoice-show {
		font-size: 20px;
		display: block;
		span:first-child {
			float: left;
		}
		span:last-child {
			float: right;
		}
	}

	hr {
		margin: 10px 0;
		width: 100%;
		display: block;
	}

	&.success {
		div.mark {
			margin: 40px auto;
			text-align: center;
			border: 5px solid;
			border-radius: 100px;
			width: 100px;
			height: 100px;
		    color: #00c5a2;
			i {
			    line-height: 100px;
			    font-size: 50px;
			}
		}
		h5 {
			text-align: center;
			margin-top: 110px;
		}
		p {
			text-align: center;
			margin: 0;
		}
	}

	@media (min-width: 550px) {
		h4 {
			font-size: 2.4rem;
		}
		h5 {
			font-size: 1.8rem;
		}
	}

	.amount {
		display: flex;
		margin-top: 10px;
		select {
			width: 49%;
			margin-right: 1%;
		}
		input[type="number"] {
			width: 49%;
			margin-left: 1%;
		}
		.hour {
			width: 32% !important;
			&.select {
				margin-right: 2%;
			}
			&.price {
				margin-right: 2%;
			}
		}
	}

	/* For Desktop */
	@media (min-width: 786px) {
		width: 700px;
	}

	@media (max-width: 640px) {
		.info-invoice {
			flex-direction: column;
		}
	}
}

.progress {
	h4 {
		color: #3d4b54;
	}
    margin: 20px auto;
    text-align: center;
    padding-bottom: 50px;

    .circle {
	    display: inline-block;
	    background: #296781;
	    width: 40px;
	    height: 40px;
	    border-radius: 40px;
	    border: none;
	    vertical-align:top;
	    position: relative;
	    z-index: 2;

	    .label {
		    display: inline-block;
		    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    border-radius: 40px;
		    margin-top: 0px;
		    color: white;
		    font-size: 17px;
		}

		.title {
		    color: #b5b5ba;
		    font-size: 13px;
		    line-height: 18px;
		    margin-left: -30px;
		    display: block;
		    width: 100px;
		    margin-top: 5px;
		}

		&.active {
			background: white;
			.label {
			    color: #FFF;
			    background: linear-gradient(to bottom, #4ee7cd 0%,#00cdab 50%,#4ee7cd 100%);
			    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
			}
			.title {
			    color: #0c95be;
			}
		}

		&.done {
			background: #296781;
			.label {
			    color: #FFF;
		        background: linear-gradient(to bottom, #4ee7cd 0%,#00cdab 50%,#4ee7cd 100%);
			    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
				width: 24px;
				height: 25px;
				line-height: 25px;
				margin: 8px;
			}
			.title {
			    color: #444;
			}
		}
	}

	.bar {
	    display: inline-block;
	    background: #296781;
	    position: relative;
	    width: 80px;
	    height: 7px;
	    margin: 0 -9px 17px -9px;
	    border: 5px solid #296781;
	    border-left: none;
	    border-right: none;
	    border-radius: 0;
	    top:12px;
	    vertical-align:top;
	    z-index:0;

	    &.active, &.done {
		    background: linear-gradient(to bottom, #4ee7cd 0%,#00cdab 50%,#4ee7cd 100%);
		}
	}

	/* For Desktop */
	@media (min-width: 550px) {
		.bar {
			width: 200px;
		}
		h4 {
			font-size: 2.4rem;
		}
		h5 {
			font-size: 1.8rem;
		}
	}
}

#Iframe-Master-CC-and-Rs {
  max-width: 100%;
  max-height: 100%; 
  overflow: hidden;
}

.responsive-wrapper {
  position: relative;
  height: 0;
}
 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

.responsive-wrapper-wxh-572x612 {
  padding-bottom: 107%;
}
.set-margin {
  margin: 30px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-center {
	text-align: center;
}
