form#new_quote {

	width: 100%;
	margin: 20px auto;

	p {
	    margin: 20px 0 5px;
	}

	.quotefield {
    	border: 1px dashed #E1E1E1;
		padding: 10px;
		position: relative;
		margin-top: 20px;

		fieldset {
			border: none;
			padding: 0;
		}

		.button-remove {
		    margin-top: 15px;
		    font-size: 12px;
		    height: 20px;
		}
	}

	.fieldlist {
		ul {
			list-style: none;
			margin: 0;
		}
		
		button {
			&.button-add {	
				font-size: 13px;
	    		height: 24px;
			}
		}
	}

	button {
		&.button-add {	
			font-size: 13px;
    		height: 24px;
		}
	}

	.quote_tax {
		display: inline-block;
		font-weight: normal;
		margin-top: 20px;
		margin-bottom: 0;

		input[type="radio"], input[type="checkbox"] {
			margin-right: 8px;
			display: inline-block;
			width: auto;
		}
	}

	.qf-button {
		float: right;

		button {
			margin-right: 30px;
		}
		a {
			text-decoration: none;
		}
	}
	input[type="text"] {
		width: 100%;
	}

	/* For Desktop */
	@media (min-width: 550px) {
		width: 50%;
	}
}

.send-quote {
	display: table;
	margin: 30px auto;
	text-align: center;
	div {
		text-align: right;
		font-size: 18px;
		margin: 10px 0;

		p {
			display: inline-block;
			margin: 0;
		}

		span {
			display: inline-block;
			width: 50px;
		}
	}

	hr {
		margin: 10px 0;
	}
	button {
		margin: 10px;
		a {
			text-decoration: none;
			color: white;
		}
	}
}

.quote {
	display: flex;
	flex-direction: row;
	.info-quote {
		flex: 1;
		margin: 0 30px;

		.title {
			font-weight: bold;
		}
	}
}

.quote-items {
	margin: 0 30px;
	table {
		width: 100%;
	}

	.button-quote {
		margin-top: 30px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.quote { 
		.info-quote {
			margin: 0 15px;
		}
	}
	.quote-items {
		margin: 0 15px;
	}
}

@media (max-width: 640px) {
	.quote { 
		flex-direction: column;
		.info-quote {
			margin: 0 10px;
		}
	}
	.quote-items {
		margin: 0 10px;
	}
}