$color-green-submit: #71C796;
$color-blue: #4CC6EE;
$color-text: #83878C;

form#new_quote {

	width: 100%;
	margin: 20px auto 70px auto;
	color: $color-text;

	p {
		margin: 20px 0 5px;
	}

	.quote-tax {
		margin-top: 20px;
	}

  .radio-same-address {
    margin: 10px 15% 20px 15%;
    width: 70%;
    color: $color-text;

    .radio-option {
      position: relative;
      display: inline-block;
      padding-left: 45px;
      margin: 0 20px;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // Hide the radio default
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .radio-checkmark {
        position: absolute;
        top: -3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $color-text;
      }
      &:hover input ~ .radio-checkmark {
        background-color: $color-green-submit;
      }

      /* When the radio button is checked, add a blue background */
      input:checked ~ .radio-checkmark {
      }
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .radio-checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      input:checked ~ .radio-checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .radio-checkmark:after {
        top: 13%;
        left: 13%;
        width: 74%;
        height: 74%;
        border-radius: 50%;
        background: $color-green-submit;
      }
    }
  }

	.error {
    margin-top: 10px;
    color: red;
    text-align: center;
	}

	.quotefield {
    	border: 1px dashed #E1E1E1;
		padding: 10px;
		position: relative;
		margin-top: 20px;

		fieldset {
			border: none;
			padding: 0;
		}

		.button-remove {
	    margin-top: 15px;
	    font-size: 12px;
	    height: 20px;
		}
	}

	.fieldlist {
		ul {
			list-style: none;
			margin: 0;
		}

		button {
			&.button-add {
				font-size: 13px;
	    		height: 24px;
			}
		}
	}

	button {
		&.button-add {
			font-size: 13px;
    		height: 24px;
		}
	}

	.button-primary {
    background-color: $color-green-submit;
    color: white;
    border-color: $color-green-submit;
    border-radius: 5px;

    &:hover {
      background-color: #619970;
      border-color: #619970;
    }
    &.button-remove {
      background-color: $color-red;
      border-color: $color-red;

      &:hover {
        background-color: #d60000;
        border-color: #d60000;
      }
    }
    &:focus {
      background-color: $color-green-submit;
      border-color: $color-green-submit;
    }
  }

  .qf-button {
    @include flexbox;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    button {
      @include flex(1);
      margin: 0 15px;
    }

	  .button-submit {
	    background-color: $color-green-submit;
	    color: white;
	    border-color: $color-green-submit;
	    border-radius: 5px;

	    &:hover {
	      background-color: #619970;
	      border-color: #619970;
	    }
	    &:focus {
	      background-color: $color-green-submit;
	      border-color: $color-green-submit;
	    }
	  }

	  .button-back {
	    background-color: $color-blue;
	    color: white;
	    border-color: $color-blue;
	    border-radius: 5px;

	    &:hover {
	      background-color: #619970;
	      border-color: #619970;
	    }
	    &:focus {
	      background-color: $color-blue;
	      border-color: $color-blue;
	    }
	  }
  }

	input[type="text"] {
		width: 100%;
		color: $color-text;
	}
	.amount {
		@include flexbox;
		margin-top: 10px;
		select {
			@include flex(1);
		}
		.amount-input {
			margin-left: 10px;
			@include flex(2);
			@include flexbox;
			input {
				@include flex(4);
			}
			span.to {
				@include flex(1);
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				margin: 0 5px;
			}
		}
		.hour {
			width: 32% !important;
			&.select {
				margin-right: 2%;
			}
			&.price {
				margin-right: 2%;
			}
		}
		.price.error {

		}
	}

  .service-fee-group {
    @include flexbox;

    .service-fee {
      @include flex(1);
      margin: 5px;

      .service-fee-title {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

	/* For Desktop */
	@media (min-width: 700px) {
		width: 50%;
	}
	/* For Desktop */
	@media (max-width: 700px) {
		.amount {
			@include flex-direction(column);
			.amount-input {
				margin-top: 10px;
				margin-left: 0;
			}
		}

    .radio-same-address {
      margin: 10px 0 20px 0;
      width: 100%;

      .radio-option {
        padding-left: 40px;
        margin: 0 10px;

        &:hover input ~ .radio-checkmark {
          background-color: transparent;
        }
      }
    }
    .service-fee-group {
      @include flex-direction(column);
    }
	}
}
.quote-form {
	.optiondescription {
		margin: 40px;
	}

  .quote-button {
		@include flexbox;
		@include justify-content(center);
    margin: 40px 0;
    padding-bottom: 20px;

    button {
			@include flex(1);
			margin: 10px 15px 0;
			padding: 0 15px;
    }
    .button-submit {
      background-color: $color-green-submit;
      color: white;
      border-color: $color-green-submit;
      border-radius: 5px;

      &:hover {
        background-color: #619970;
        border-color: #619970;
      }
    }
    .button-back {
      background-color: $color-blue;
      color: white;
      border-color: $color-blue;
      border-radius: 5px;

      &:hover {
        background-color: #619970;
        border-color: #619970;
      }
    }
  }
}

.send-quote {
	display: table;
	margin: 30px auto;
	text-align: center;
	div {
		text-align: right;
		font-size: 18px;
		margin: 10px 0;

		p {
			display: inline-block;
			margin: 0;
		}

		span {
			display: inline-block;
			width: 50px;
		}
	}

	hr {
		margin: 10px 0;
	}
	button {
		margin: 10px;
		a {
			text-decoration: none;
			color: white;
		}
	}
}

.quote {
	@include flexbox;
	@include flex-direction(row);
	.info-quote {
		@include flex(1);
		margin: 0 30px;

		.title {
			font-weight: bold;
		}
	}
}

.quote-items {
	margin: 0 30px;
	table {
		width: 100%;
	}

	.button-quote {
		margin-top: 30px;
		text-align: center;
	}
}

.modal-quote {
	color: #404040;
	position: relative;
	.modal-dialog {
		width: 700px !important;
	}
	.modal-header {
		background-color: #fff !important;
		@include flexbox;

		.logo {
			img {
				width: 80px;
				height: auto;
			}
		}
		.info-trady {
			margin-left: 15px;
			p {
				margin-bottom: 0px;
				font-size: 12px;
				text-transform: inherit;
				span {
					&:last-child {
						padding-left: 5px;
					}
				}
			}
		}
		.close {
			border: 1px solid #ccc !important;
			border-radius: 50% !important;
			position: absolute;
			top: 5px;
			right: 5px;
			span {
				color: #ccc !important;
			}
		}
	}
	.quote-height {
		min-height: 800px;
	}
	.info-quote {
		font-size: 13px;
		.bill-to {
			font-size: 16px;
		}
		.info-agency {
			p {
				text-align: left !important;
				span {
					&:first-child {
						width: 120px;
					    display: inline-block;
					    text-align: right;
					    text-transform: capitalize;
					}
				}
			}
		}
	}
	.footer {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-between);
		font-size: 12px;
		border-top: 1px solid #ccc;
		padding-top: 15px;
		text-align: left;
		i{
			font-size: 36px;
		}
		p {
			margin-bottom: 5px;
		}
		.bank {
			margin-left: 25px;
			@include flex(1);
		}
		.contact {
			margin-left: 15px;
			@include flex(1);
		}
	}
	.border-none {
		border: none !important;
	}
	.color-grey {
		color: $color-text;
	}
	.font-bold {
		font-weight: bold;
	}
	.m-t-md {
		margin-top: 10px;
	}
	.p-t-n {
		padding-top: 0 !important;
	}
	.p-b-n {
		padding-bottom: 0 !important;
	}
}

.send-email-quote {
	color: $color-text;
	font-size: 14px;
	p {
		margin-bottom: 0;
	}
	.header-quote {
		@include flexbox;
		@include align-items(center);
		.logo {
			margin-left: 15px;
			img {
				width: 80px;
			}
		}
		.info-quote {
			margin-left: 15px;
		}
	}
	.quote {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		@include flexbox;
		@include justify-content(flex-start);
		.info-agency {
			@include flex(1);
		}
		.date-quote {
			@include flex(1);
		}
	}
	.quote-items {
		table {
			td {
				padding: 5px 3px;
			}
		}
		.p-b-n {
			padding-bottom: 0px;
		}
		.p-t-n {
			padding-top: 0px;
		}
	}
	.color-grey {
		color: #b3b3b3;
	}
	.bill-to {
		font-size: 20px;
	}
}

.font-bold {
	font-weight: bold;
}

.text-right {
	text-align: right;
}

.border-none {
	border: none;
}

.text-capitalize {
	text-transform: capitalize;
}

@media (max-width: 768px) {
	.quote {
		.info-quote {
			margin: 0 15px;
		}
	}
	.quote-items {
		margin: 0 15px;
	}

	.modal-quote .modal-dialog {
		width: 95% !important;
	}
}

@media (max-width: 640px) {
	.quote {
		@include flex-direction(column);
		.info-quote {
			margin: 0 10px;
		}
	}
	.quote-items {
		margin: 0 10px;
	}
}

@media (max-width: 480px) {
	.summary-container-index .show-quote .info-agency p {
		@include flex-direction(column);
		@include justify-content(flex-start);
		@include flexbox;
		span:first-child {
			text-align: left;
		}
	}
	.show-quote .detail-quote {
		overflow: auto !important;
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 15px;
			background-color: #F5F5F5;
			margin-right: 0px;
			padding: 0 10px;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #F5F5F5;
			margin-right: 0px;
			padding: 0 10px;
			height: 5px;
			display:none;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 15px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: rgba(0, 0, 0, 0.5);
			margin-right: 0px;
			padding: 0 10px;
		}
		.table {
			width: 450px;
		}
	}
	.quote-form .quote-button .button {
		&-back,
		&-submit {
			flex: auto;
			padding: 0 5px;
		}
	}
}
