#services {
  .list-services {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    margin-bottom: 20px;

    .service-item {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      width: 150px;

      input {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
  .service-buttons {
    text-align: center;

    button {
      margin: 10px;
      width: 150px;
      padding: 0px;
    }
  }
}
