html {
  width: 100%;
  height: 100%;
}

body {
  background: #F4F8FB;
  width: 100%;
  height: 100%;

}
.flex {
  @include flexbox;
  &.flex-column {
    @include flex-direction(column);
  }
  &.flex-row {
    @include flex-direction(row);
  }
}
.show-message {
  button {
    border-width: 0px;
  }
}
.layout {
  margin: auto;
  background: #F4F8FB;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.content-custom{
  margin: 0 auto;
  margin-bottom: 53%;
  max-width: 1366px;
}
#avatar {
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
.logo {
  margin: auto 0 auto 0;
}

input, textarea, select {
  color: #7D7D7D;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7D7D7D;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #7D7D7D;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #7D7D7D;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #7D7D7D;
  }
}
select {
  &:required:invalid {
    color: #7D7D7D;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

header {
  .header-expanded {
    background: #3d4b54;

    .header-custom {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-between);
      padding: 5px 0;
      .search {
        @include flex(1);
        @include justify-content(center);
        .form-search {
          height: 100%;
          margin-bottom: 0px;
          @include flexbox;
          @include align-items(center);
          position: relative;
          margin: auto;
          max-width: 300px;
        }

        .input-search {
          // height: 35px;
          padding: 0;
          margin: 0;
          border: none;
          border-radius: 0;
          background: #313E46;
          color: #fff;
          border-radius: 20px;
          padding-left: 40px;
          font-size: 12px;
          max-width: 350px;
          width: 100%;
          line-height: 36px;
          &::placeholder {
            color: #fff;
          }
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #fff;
          }
        }

        .btn-search {
          top: 0;
          width: 35px;
          height: 35px;
          background-color: #fff;
          border: none;
          border-radius: 0;
          padding: 0;
          border-radius: 0;
          background: transparent;
          position: absolute;
          left: 5px;

          i {
            color: #fff;
            font-size: 12px;
            line-height: 35px;
            display: inline-block;
          }
        }
      }

      .menu-bar {
        display: none;
        height: auto;
        background: none;
        border: none;
        @include align-items(center);
        margin-bottom: 0;
        position: relative;
        width: auto;
        .btn-menu {
          margin-left: 0px;
          font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 16px;
          @include flexbox;
          @include align-items(center);
          height: 100%;
          img {
            width: 35px;
            height: 35px;
          }
          .icon-user {
            i {
              font-size: 30px;
            }
          }
          span {
            font-size: 20px;
            padding-left: 10px;
            line-height: 55px;
            i {
              // @include flexbox;
              line-height: 55px;
              margin-left: 5px;
              align-items: center;
            }
          }
        }
        .dropdown-menu {
          position: absolute;
          top: 100%;
          width: 300px;
          right: 0;
          border: 1px solid #D1D1D1;
          &:after {
            border: solid transparent;
            border-width: 10px;
            content: " ";
            position: absolute;
            bottom: 100%;
            right: 0;
            border-bottom-color: #FFF;
            pointer-events: none;
            width: 0;
            height: 0;
          }
          li {
            a {
              color: #000;
              text-decoration: none;
              width: 100%;
              display: inline-block;
            }
            &:hover{
              background-color: #7DC691;
            }
          }
        }
      }
      .header-right {
        @include flexbox;
        @include flex(1);
        @include align-items(center);
        @include justify-content(flex-end);
        -ms-flex-align: center;
        margin: auto 0;
        // margin-top: 22.5px;

        height: 100%;
      }
      .question {
        height: 100%;
        margin: 0 10px 0 30px;
        display: none;
        @include align-items(center);
        -ms-flex-align: center;

        i {
          color: #fff;
        }
      }
      .notification {
        height: 100%;
        margin: 0 30px 0 10px;
        display: none;
        @include align-items(center);
        -ms-flex-align: center;

        i {
          color: #fff;
        }
      }
    }

    .full-header {
      width: 100%;
      max-width: 1366px;
      .logo {
        margin-left: 7.5%;
      }
      .desktop-menu-items, .log_in {
        margin-right: 7.5%;
        letter-spacing: .1rem;
      }
    }

    .forhome {
      position: absolute;
      left: 0;
      background-color: rgba(1,2,3,0.3);
      .log_in {
        @include flexbox;
        @include flex(1);
        @include justify-content(flex-end);
        align-items: center;
        .desktop-menu-items {
          width: 300px;
          background-color: white;
          border: 1px solid #ccc;
          border-color: rgba(0,0,0,.2);
          box-shadow: 0 2px 10px rgba(0,0,0,.2);
          outline: none;
          border-radius: 2px;
          position: absolute;
          right: 0;
          top: 70px;
          list-style: none;
          padding: 0;

          &:before {
            content: "\A";
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent white transparent;
            position: absolute;
            top: -10px;
            right: 13px;
          }
          li {
            margin-bottom: 0;
            height: 40px;
            border-top: 1px solid #ddd;
            a {
              display: block;
              padding: 0;
              margin-left: 10px;
              color: black;
              line-height: 40px;
            }
            &:hover {
              background-color: #7DC691;
            }
          }
        }
      }
    }

    .menu-button {
      // margin-top: 18px;
      float: right;
      // height: 40px;
      font-size: 20px;
      color: #fff;
      line-height: 55px;
      text-align: center;
      cursor: pointer;
      display: none;

      span {
        margin-left: 5px;
        margin-right: 5px;
      }

      .icon-user {
        font-size: 30px;
        img {
          position: relative;
          top: 4px;
          width: 35px;
          height: 35px;
        }
      }
      .fa-angle-down {
        font-size: 20px;
        // @include flexbox;
        align-items: center;
        line-height: 55px;
      }
    }

    .logo {
      @include flexbox;
      // padding-top: 10px;
      // height: 60px;
      align-items: center;
      // @include flex(1);

      img {
        vertical-align: middle;
        // padding-bottom: 13px;
        max-width: 55px;
        height: 55px;
      }

      a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin: 0 5px;
        line-height: 55px;
      }
    }

    .desktop-menu-items {
      display: none;
      line-height: 55px;
      // padding-top: 10px;
      float: right;
      margin-bottom: 0px;
      list-style: none;
      letter-spacing: .1rem;

      li {
        margin-bottom: 0;
      }
      a {
        color: white;
        font-size: 16px;
        padding: 0 20px;
        text-decoration: none
      }

      .register {
        color: white;
        font-size: 16px;
        padding: 0 20px;
        border: 1px solid white;
        border-radius: 4px;
        text-decoration: none;
      }
    }

    .mobile-menu-items {
      margin: 20px;

      a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 10px;
      }
    }

    .menu-btn {
      color: #f2f2f2;
      padding: 0 5px;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 20px;
      margin: 28px 0;
      height: 30px;
      line-height: 25px;
    }

    .menu-mobile {
      margin-bottom: 0;
      padding-top: 30px;
      list-style: none;
      li {
        height: 40px;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        margin: 0;
        a {
          line-height: 40px;
          margin: 0;
          color: #fff;
          text-decoration: none;
          display: inline-block;
          width: 100%;
        }
        &:active, &:hover {
          background: #ddd;
          a {
            color: #000;
          }
        }
        &:first-child {
          display: inline-block;
          width: 100%;
          padding-bottom: 10px;
          img {
            position: relative;
            top: 4px;
            width: 35px;
            height: 35px;
          }
          span {
            padding-left: 20px;
            color: #fff;
          }
          &:hover {
            background: transparent;
          }
        }
        .icon-user {
          i {
            font-size: 30px;
            color: #fff;
          }
        }
      }
    }

    @media (min-width: 769px) {
      .desktop-menu-items {
        display: block;
        &.log_in {
          @include flex(1);
          @include flexbox;
          @include justify-content(flex-end);
        }
      }
      .header-custom .menu-bar {
        @include flexbox;
      }
      .menu-btn {
        display: none;
      }
      .header-custom .notification {
        @include flexbox;
      }
      .header-custom .question {
        @include flexbox;
      }
      .forhome .log_in .menu-button {
        @include flexbox;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-expanded {
    .container-custom {
      width: 97% !important;
    }
  }
}

@media(max-width: 768px) {
  header .header-expanded {
    .forhome {
      @include flexbox;
      // @include justify-content(center);
      .menu-btn {
        margin-right: 7.5%;
      }
    }
    .header-custom .header-right {
      margin-right: 70px;
      // margin-top: 0;
    }
    .header-custom .search .input-search {
      width: 180px;
    }
    .menu-btn {
      top: 25%;
      margin: 0;
    }
  }
}

@media (max-width: 640px) {
  header {
    .header-expanded {
      .header-custom {
        @include flex-direction(column);
        @include align-items(center);
        .header-right {
          margin-right: 0;
          margin-top: 5px;
        }
        .search {
          .form-search {
            padding-bottom: 10px;
          }
        }
      }
      .full-header {
        .logo {
          margin-left: 0;
        }
      }
      .menu-btn {
        top: 15%;
        right: 10px;
      }
      .forhome {
        width: 100%;
        .menu-btn {
          top: 27%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  header {
    .header-expanded {
      .forhome {
        .menu-btn {
          margin-right: 0px;
        }
      }
    }
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  .footer-expanded {
    background-color: #3e4b54;
    color: white;
    padding: 60px 0;

    a {
      color: white;
      display: block;
      padding-bottom: 15px;
      text-decoration: none;
    }

    .footer-links_hp {
      display: none;
    }

    .footer-logo {
      color: white;
      font-size: 20px;
      float: left;
      line-height: 60px;
      text-align: center;
      width: 100%;

      img {
        padding: 0 10px 10px 0;
        vertical-align: middle;
      }

      p {
        color: #8ea1ae;
        font-size: 14px;
          line-height: 20px;
          margin-bottom: 50px;
      }
    }

    .footer-social_hp {
      width: 100%;
      text-align: center;

      .social-circle {
        background: white;
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 35px;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      .footer-links_hp {
        display: block;
      }
      .footer-social_hp {
        text-align: left;
      }
    }
  }

  .footer-other {
    text-align: center;
    background-color: #3d4b54;
    padding: 20px 0 10px;
    color: #fff;

    .footer-custom {
      margin: auto;
      max-width: 960px;
    }

    .footer-social {
      float: none;
      display: block;
      margin-bottom: 7px;

      div {
        display: inline-block;
        text-align: center;
        width: 30px;
      }
    }

    .footer-links {
      a {
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid #fff;
        color: #fff;
        padding: 0 10px;

        &:last-child {
          border-right: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 10px;
      color: #fff;
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      text-align: left;
      .footer-social {
        float: right;
      }
    }
  }
}


.slide-menu {
  display: block;

  & > div {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 300px;
    height: 100%;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;
    background: #191918;
    left: -300px;
    overflow: hidden;

    &.visible {
      transform: translate3d(300px, 0, 0);
    }

    & > a {
      float: left;
      width: 100%;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #555;
      cursor: pointer;
      color: #b3b3b1;

      &:hover {
        color: #F0F0F0;
      }
    }
  }
}

.button-type {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  letter-spacing: .1rem;
  line-height: 2.5;
  background-color: #33C3F0;
  border-color: #33C3F0;

  &.green {
    background-color: #7dc691;
    border-color: #7dc691;
  }

  &:hover {
    background-color: #1EAEDB;
    border-color: #1EAEDB;
  }

  a {
    width: 100%;
    height: 100%;
    padding: 0 30px;
  }
}

@media print {
  .dontprint {
    display: none !important;
  }
  .modal-custom .modal-dialog {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    top: 0;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10+ CSS */

}
