
header {
  .header-expanded {
    background: #3d4b54;
    .header-custom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .search {
        .form-search {
          height: 100%;
          margin-bottom: 0px;
          display: flex;
          align-items: center;
        }
        .input-search {
          height: 35px;
          padding: 0;
          margin: 0;
          border: none;
          border-radius: 0;
          background: transparent;
          border-bottom: 1px solid #ddd;
          color: #fff;
          &::placeholder {
            color: #ccc;
          }
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #ccc;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #ccc;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #ccc;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #ccc;
          }
        }
        .btn-search {
          width: 36px;
          height: 36px;
          background-color: #fff;
          border: none;
          border-radius: 0;
          padding: 0;
          border-radius: 0;
          background: transparent;
          border-bottom: 1px solid #ddd;
          i {
            color: #fff;
          }
        }
      }
      .menu-bar {
        display: none;
        height: auto;
        background: none;
        border: none;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        width: auto;
        padding-top: 10px;
        .btn-menu {
          width: 100%;
          font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 16px;
        }
        .dropdown-menu {
          position: absolute;
          top: 100%;
          width: 300px;
          left: -30px;
          &:after {
            border: solid transparent;
            border-width: 10px;
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 45%;
            border-bottom-color: #ddd;
            pointer-events: none;
            width: 0;
            height: 0;
          }
          li {
            a {
              color: #000;
              text-decoration: none;
            }
          }
        }
      }
    }

    .forhome {
      position: absolute;

      .log_in {
        display: block;
        .desktop-menu-items {
          width: 205px;
          background-color: white;
          border: 1px solid #ccc;
          border-color: rgba(0,0,0,.2);
          box-shadow: 0 2px 10px rgba(0,0,0,.2);
          outline: none;
          border-radius: 2px;
          position: absolute;
          right: 0;
          top: 80px;

          &:before {
            content: "\A";
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent white transparent;
            position: absolute;
            top: -10px;
            right: 13px;
          }

          a {
            display: block;
            padding: 0 20px;
            color: black;
          }
        }
      }
    }

    .menu-button {
      margin-top: 25px;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      font-size: 20px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: #005600;
      cursor: pointer;
      display: none;
    }

    .logo {
      display: inline-block;
      padding-top: 10px;
      height: 60px;

      img {
        vertical-align: middle;
        padding-bottom: 13px;
      }

      a {
        text-decoration: none;
        font-size: 22px;
        color: white;
      }
    }

    .desktop-menu-items {
      display: none;
      line-height: 65px;
      padding-top: 10px;
      float: right;

      a {
        color: white;
        font-size: 16px;
        padding: 15px 20px;
        text-decoration: none
      }

      .register {
        color: white;
        font-size: 16px;
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 4px;
        text-decoration: none;
      }
    }

    .mobile-menu-items {
      margin: 20px;

      a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 10px;
      }
    }

    .menu-btn {
      color: #f2f2f2;
      padding: 0 5px;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 20px;
      margin: 28px 0;
      height: 30px;
      line-height: 25px;
    }

    .menu-mobile {
      margin-bottom: 0;
      padding-top: 30px;
      list-style: none;
      li {
        height: 40px;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        margin: 0;
        a {
          line-height: 40px;
          margin: 0;
          color: #fff;
          text-decoration: none;
          display: inline-block;
          width: 100%;
        }
        &:active, &:hover {
          background: #ddd;
          a {
            color: #000;
          }
        }
      }
    }

    @media (min-width: 769px) {
      .desktop-menu-items {
        display: block;
      }
      .header-custom .menu-bar {
        display: flex;
      }
      .menu-btn {
        display: none;
      }
      .forhome .log_in .menu-button {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-expanded {
    .container-custom {
      width: 97% !important;
    }
  }
}

@media (max-width: 640px) {
  header {
    .header-expanded {
      .header-custom {
        flex-direction: column;
        align-items: center;
        .search {
          .form-search {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

footer {
  .footer-expanded {
    background-color: #3e4b54;
    color: white;
    padding: 60px 0;

    a {
      color: white;
      display: block;
      padding-bottom: 15px;
      text-decoration: none;
    }

    .footer-links_hp {
      display: none;
    }

    .footer-logo {
      color: white;
      font-size: 22px;
      float: left;
      line-height: 60px;
      text-align: center;
      width: 100%;

      img {
        padding: 0 10px 10px 0;
        vertical-align: middle;
      }

      p {
        color: #8ea1ae;
        font-size: 14px;
          line-height: 20px;
          margin-bottom: 50px;
      }
    }

    .footer-social_hp {
      width: 100%;
      text-align: center;

      .social-circle {
        background: white;
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 35px;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      .footer-links_hp {
        display: block;
      }
      .footer-social_hp {
        text-align: left;
      }
    }
  }

  .footer-other {
    text-align: center;
    background-color: transparent;
    padding: 20px 0;

    .footer-social {
      float: none;
      display: block;
      margin-bottom: 7px;

      div {
        display: inline-block;
        text-align: center;
        width: 30px;
      }
    }

    .footer-links {
      a {
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid #8aa7c3;
        color: #8aa7c3;
        padding: 0 10px;

        &:last-child {
          border-right: none;
        }
      }
    }

    p {
      margin: 10px;
      color: #b6c9dc;
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      text-align: left;
      .footer-social {
        float: right;
      }
    }
  }
}


.slide-menu {
  display: block;

  & > div {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 300px;
    height: 100%;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;

    background: #191918;
    left: -300px;

    &.visible {
      transform: translate3d(300px, 0, 0);
    }

    & > a {
      float: left;
      width: 100%;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #555;
      cursor: pointer;
      color: #b3b3b1;

      &:hover {
        color: #F0F0F0;
      }
    }
  }
}
