
header {
  .header-expanded {
    background: #3d4b54;

    .forhome {
      position: absolute;

      .log_in {

        .desktop-menu-items {
          width: 205px;
          background-color: white;
          border: 1px solid #ccc;
          border-color: rgba(0,0,0,.2);
          box-shadow: 0 2px 10px rgba(0,0,0,.2);
          outline: none;
          border-radius: 2px;
          position: absolute;
          right: 0;
          top: 80px;

          &:before {
            content: "\A";
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent white transparent;
            position: absolute;
            top: -10px;
            right: 13px;
          }

          a {
            display: block;
            padding: 0 20px;
            color: black;
          }
        }
      }
    }

    .menu-button {
      margin-top: 25px;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      font-size: 20px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: #005600;
      cursor: pointer;
      display: none;
    }

    .logo {
      display: inline-block;
      text-align: center;
      margin: auto;
      padding-top: 10px;
      height: 60px;

      img {
        vertical-align: middle;
        padding-bottom: 13px;
      }

      a {
        text-decoration: none;
        font-size: 22px;
        color: white;
      }
    }

    .desktop-menu-items {
      display: none;
      line-height: 65px;
      padding-top: 10px;
      float: right;

      a {
        color: white;
        font-size: 16px;
        padding: 15px 20px;
        text-decoration: none
      }

      .register {
        color: white;
        font-size: 16px;
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 4px;
        text-decoration: none;
      }
    }

    .mobile-menu-items {
      margin: 20px;

      a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 10px;
      }
    }

    .menu-btn {
      color: #f2f2f2;
      padding: 0 5px;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 20px;
      margin: 28px 0;
      height: 30px;
      line-height: 25px;
    }

    @media (min-width: 550px) {
      .desktop-menu-items {
        display: block;
      }
      .menu-btn {
        display: none;
      }
      .forhome .log_in .menu-button {
        display: inline-block;
      }
    }

  }
}

footer {
  .footer-expanded {
    background-color: #3e4b54;
    color: white;
    padding: 60px 0;

    a {
      color: white;
      display: block;
      padding-bottom: 15px;
      text-decoration: none;
    }

    .footer-links_hp {
      display: none;
    }

    .footer-logo {
      color: white;
      font-size: 22px;
      float: left;
      line-height: 60px;
      text-align: center;
      width: 100%;

      img {
        padding: 0 10px 10px 0;
        vertical-align: middle;
      }

      p {
        color: #8ea1ae;
        font-size: 14px;
          line-height: 20px;
          margin-bottom: 50px;
      }
    }

    .footer-social_hp {
      width: 100%;
      text-align: center;

      .social-circle {
        background: white;
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 35px;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      .footer-links_hp {
        display: block;
      }
      .footer-social_hp {
        text-align: left;
      }
    }
  }

  .footer-other {
    text-align: center;
    background-color: transparent;
    padding: 20px 0;

    .footer-social {
      float: none;
      display: block;
      margin-bottom: 7px;

      div {
        display: inline-block;
        text-align: center;
        width: 30px;
      }
    }

    .footer-links {
      a {
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid #8aa7c3;
        color: #8aa7c3;
        padding: 0 10px;

        &:last-child {
          border-right: none;
        }
      }
    }

    p {
      margin: 10px;
      color: #b6c9dc;
    }

    /* For Desktop footer */
    @media (min-width: 550px) {
      text-align: left;
      .footer-social {
        float: right;
      }
    }
  }
}


.slide-menu {
  display: block;

  & > div {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 250px;
    height: 100%;
    transition: -webkit-transform ease 250ms;
    transition: transform ease 250ms;

    background: #191918;
    left: -250px;

    &.visible {
      transform: translate3d(250px, 0, 0);
    }

    & > a {
      float: left;
      width: 100%;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #555;
      cursor: pointer;
      color: #b3b3b1;

      &:hover {
        color: #F0F0F0;
      }
    }
  }
}
