$color-white: #FFFFFF;
$color-grey: #f4f8fb;
$color-grey-1: #aab8c3;
$color-grey-dark: #849aaa;
$color-grey-dark-1: #cedae3;
$color-green: #7dc691;
$color-gray: #3e4b54;
$color-gray-dark: #baccd8;
$color-red: #e34f4f;
$color-black: #000000;
$color-blue-light: #7646FF;
$color-text: #83878C;

#support-page {
  .main-content {
    @include flexbox;
    background-color: $color-green;

    > div {
      @include flex(1);
    }
    .contact-information {
      color: white;
      margin-left: 15%;
      .title {
        font-size: 30px;
        font-weight: 600;
      }
      .description {
        font-size: 15px;
        font-weight: 300;
      }
      .contact-detail {
        .item {
          @include flexbox;
          margin-top: 10px;
          .icon {
            width: 50px;
            font-size: 27px;
          }
          .content {
            @include flex(1);
            margin-top: 5px;

            .content-title {
              font-size: 18px;
              font-weight: 600;
            }
            .content-description {
              margin-top: 10px;
              font-size: 18px;
              font-weight: 200;
              font-style: italic;
            }
          }
        }
      }
    }
    .contact-form {
      margin: 5px;
      padding: 10px;
      background-color: white;
      color: black;

      .form-title {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }
      .form-subtitle {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
      .main-input {
        margin-top: 30px;
        .input-item {
          margin: 10px;
        }
      }
      input, textarea {
        width: 100%;
        resize: none;
      }
      .submit-button {
        button {
          margin: 10px;
          padding: 10px;
          width: calc(100% - 20px);
          background-color: $color-green;
          color: white;
          border: none;

          &:hover, &:focus, &:active {
            background-color: deepskyblue;
          }
        }
      }
    }
  }
}