form#new_trady_company {
	width: 50%;
	margin: 20px auto;

	p {
		margin: 20px 0 5px;
	}

	#avatar {
    /* make a square container */
    width: 200px;
    height: 200px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
  }

  .left {
    align-items: center;
  }

	.error {
    margin-top: 10px;
    color: red;
	}

	label {
		display: inline-block;
		font-weight: normal;
		margin-left: 0;
	    margin-bottom: 15px;
	}

	input {
		display: block;
		width: 100%;
	}

	input[type="radio"],
	input[type="checkbox"] {
        margin-right: 8px;
        display: inline-block;
        width: auto;
	}

	.field {
		margin: 20px 0;

		label {
			margin: 0;
		}

		p {
			margin: 5px 0;
		}
	}

  /* For Mobile */
  @media (max-width: 768px) {
    width: 100%;
    #avatar {
      width: 35vw;
      height: 35vw;
    }
  }
}
