$color-green-submit: #71C796;
$color-blue: #4CC6EE;
$color-text: #83878C;

form#new_trady_company {
	width: 50%;
	margin: 20px auto;
  padding-bottom: 10px;
  color: $color-text;

	p {
		margin: 5px 0 10px;
	}

	#avatar {
    /* make a square container */
    width: 200px;
    height: 200px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
  }

  .left {
    align-items: center;
  }

	.error {
    margin-top: 10px;
    color: red;
	}

	label {
		display: inline-block;
		font-weight: normal;
		margin-left: 0;
	    margin-bottom: 15px;
	}

	input {
		display: block;
    width: 100%;
    color: $color-text;
  }

  button[type="submit"] {
    margin-bottom: 20px;
  }

	input[type="radio"],
	input[type="checkbox"] {
        margin-right: 8px;
        display: inline-block;
        width: auto;
	}

	.field {
		margin: 20px 0;

		label {
			margin: 0;
		}

		p {
			margin: 5px 0;
		}
	}

  .radio-same-address {
    margin: 10px 15% 20px 15%;
    width: 70%;
    color: $color-text;

    .radio-option {
      position: relative;
      display: inline-block;
      padding-left: 45px;
      margin: 0 20px;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // Hide the radio default
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .radio-checkmark {
        position: absolute;
        top: -3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $color-text;
      }
      &:hover input ~ .radio-checkmark {
        background-color: $color-green-submit;
      }

      /* When the radio button is checked, add a blue background */
      input:checked ~ .radio-checkmark {
      }
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .radio-checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      input:checked ~ .radio-checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .radio-checkmark:after {
        top: 13%;
        left: 13%;
        width: 74%;
        height: 74%;
        border-radius: 50%;
        background: $color-green-submit;
      }
    }
  }

  .buttons {
    @include flexbox;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    button {
      @include flex(1);
      margin: 0 15px;
    }

    .button-submit {
      background-color: $color-green-submit;
      color: white;
      border-color: $color-green-submit;
      border-radius: 5px;

      &:hover {
        background-color: #619970;
      }
    }
    .button-back {
      background-color: $color-blue;
      color: white;
      border-color: $color-blue;
      border-radius: 5px;

      &:hover {
        background-color: #619970;
      }
    }
  }

  /* For Mobile */
  @media (max-width: 768px) {
    width: 80%;
    margin-left: 10%;
    #avatar {
      width: 35vw;
      height: 35vw;
    }
  }
  @media (max-width: 550px) {
    .radio-same-address {
      margin: 10px 0 20px 0;
      width: 100%;

      .radio-option {
        padding-left: 40px;
        margin: 0 10px;

        &:hover input ~ .radio-checkmark {
          background-color: transparent;
        }
      }
    }
    input {
      font-size: 0.9em;
    }
  }
}
