#view-pdf-format {
  .invoice-pdf-format {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-weight: 400;
    font-size: 14px;
    padding: 0 15px;
    .icon-user img {
      width: 120px;
      max-height: 120px;
      height: auto;
      margin-top: 7px;
    }
    .font-bold {
      font-weight: bold;
    }
    .border-none {
      border: none !important;
    }
    .p-b-n {
      padding-bottom: 0 !important;
    }
    .header {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      background-color: #fff !important;
      
      .logo {
        margin: auto 0 auto 0;
        cursor: pointer;
      }
      .info-trady {
        margin-left: 15px;
        p {
          margin-bottom: 0px;
          font-size: 12px;
          text-transform: inherit;

          span:last-child {
            padding-left: 5px;
          }
        }
      }
    }
    .body {
      text-align: center;
      border-top: none;
      width: 100%;
      margin-top: 10px;

      .main-content {
        position: relative;
        padding: 13px;
        text-align: center;

        .main-info {
          font-size: 13px;
          
          .agency-info {
            width: calc(50% - 10px);
            float: left;
            margin-bottom: 15px;
            margin-right: 10px;
            word-wrap: break-word;
            overflow: hidden;
            p {
              margin-bottom: 0px;
              text-align: left;
              text-transform: none;
            }          
          }
          .invoice-info {
            overflow: hidden;
            word-wrap: break-word;
            p {
              text-align: left;
              overflow: hidden;
              margin-bottom: 0px;
              span:first-child {
                width: 140px;
                display: inline-block;
                text-align: right;
                text-transform: capitalize;
              }
            }
          }
        }
        .service-address {
          margin-top: 10px;
        }
        .detail {
          margin-top: 15px;
          .table {
            width: 100%;
            font-size: 13px;
            overflow: auto;
            th {
              color: #404040;
              font-size: 16px;
              text-transform: uppercase;
            }
            .invoice-description {
              width: 40%;
            }
            .invoice-price {
              width: 15%;
            }
            .invoice-hour {
              width: 15%;
            }
            .invoice-rate {
              width: 15%;
            }
            .invoice-amount {
              width: 15%;
            }
            tr td {
              padding-left: 0;
              padding: 10px 3px;
              text-align: left;
            }
          }
        }
      }
    }
    .footer {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-between);
      font-size: 12px;
      border-top: 1px solid #ccc;
      padding-top: 15px;
      text-align: left;
      i {
        font-size: 36px;
      }
      p {
        margin-bottom: 5px;
      }
      .bank {
        @include flex(1);
        margin-left: 25px;
      }
    }
  }
}