
%div.container
  %div.well
    %h4.text-center
      Set Trady Appointment Time
    %div.appointment  
      - @appointment.comments.each do |comment|
        %div.comment
          %p.content
            = comment.body
          %p.detail
            %span.date-time
              = comment.created_at.strftime("%b %d, %Y %H:%M")

      = form_for @comment, remote: true do |comments_form|
        %div.form-group
          =comments_form.text_area :body, placeholder: "Comment", class: "text-center", required: true
        =comments_form.hidden_field :appointment_id, value:@appointment.id
        =comments_form.hidden_field :tenant_id, value:@tenant_id
        =comments_form.hidden_field :trady_id, value:@trady_id
        =comments_form.hidden_field :landlord_id, value:@landlord_id
        =comments_form.hidden_field :maintenance_request_id, value:@maintenance_request_id

      = form_for @appointment do |f|
        =f.hidden_field :maintenance_request_id, value:@maintenance_request_id
        =f.hidden_field :tenant_id, value:@tenant_id
        =f.hidden_field :trady_id, value:@trady_id
        =f.hidden_field :status, value:"Active"
        =f.hidden_field :current_user_role, value: current_user.role.roleable_type
        %div.form-group.date-time
          %div.date
            =f.label :date
            =f.date_field :date, required: true
          %div.time
            =f.label :time, required: true
            =f.time_select :time, {ampm: true}
        %div.form-group.text-center
          =f.button "Submit New Appointment Time and Comment", id:"appointment-submit-button"

:javascript
  $(document).ready(function() {
    $('#appointment-submit-button').click(function() {
      $.ajax({
        url: "/comments",
        type: "POST",
        dataType: "script",
        data:{
          comment:{body:$("#comment_body").val(), 
          appointment_id:$("#comment_appointment_id").val(), 
          tenant_id:$("#comment_tenant_id").val(), 
          trady_id:$("#comment_trady_id").val(),  
          maintenance_request_id:$("#comment_maintenance_request_id").val()}
          
        }
      });
    });
  });
